$navbar-padding-vertical: 2rem;
$navbar-height: 4rem;
// $background: #333;
// $light_base_color: #EEE;
// $title-color: $light_base_color;
// $subtitle-color: $light_base_color;
// $link: $light_base_color;
// $link-hover: #AAA;
// $navbar-item-color: $light_base_color;
// $navbar-item-hover-color: #414141;
// $navbar-background-color : #231f20;
// $footer-background-color: #414141;
// $footer-padding: 1rem 1.5rem;
$primary: #6aa84f;
$link: #6aa84f;

$secondary: #7c93a1;
$body-font-size: 1.2rem;
$family-primary: "Fira Sans";
$bulma-link-text: $primary;